<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>About_us</title>
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>
    <div>
    <div class="heading">
        <h1>About Us</h1>
    </div>

        <div class="container">
           <section class="about">
            <div class="about-image">
                <img src="/static/assets/about_us_img.jpg" >
        
            </div>

           

            <div class="about-content">
                <p><br>Welcome to our About Page! We are passionate about revolutionizing the way you think about food and nutrition. 
                    Our mission is to empower individuals to make informed, healthy choices by providing them with a comprehensive, 
                    user-friendly food nutrition system. With years of expertise in the field, we've crafted
                     a platform that seamlessly combines the latest nutritional science with practical, everyday use. 
                     Whether you're aiming to improve your diet, manage dietary restrictions, or simply learn more about what you're eating, 
                     we're here to support you on your journey towards a healthier, happier life. Explore our story, our team, and our 
                    commitment to enhancing your well-being through the power of knowledge and nutrition.<br><br></p>
             </div>
            </section>
         </div>
         

         <!--Navigation bar -->
    <div class="Navigation">
        <ul>
            <li class="active">
                <a href="NavBar.css">
                    <a href="/">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="text">HOME</span>
                    </a>
                </a>
              </li>
            <li class="active">
                <a href="NavBar.css">
                    <a href="/Bmi_new">
                    <span class="icon"><ion-icon name="body-outline"></ion-icon></span>
                    <span class="text">BMI VALUE</span>
                    </a>
                </a>
            <li class="active">
                <a href="NavBar.css">
                    <a href="/Calories">
                    <span class="icon"><ion-icon name="pizza-outline"></ion-icon></span>
                    <span class="text">CALORIES</span>
                    </a>
                </a>
            </li>
            </li>
            <li class="active">
                <a href="NavBar.css">
                    <a href="/Food">
                    <span class="icon"><ion-icon name="heart-outline"></ion-icon></span>
                    <span class="text">HEALTH</span>
                    </a>
                </a>
            </li>
        
            <li class="active">
                <a href="/NavBar">
                    <a href="http://localhost:8501/Custom_Food_Recommendation">
                    <span class="icon"><ion-icon name="fast-food-outline"></ion-icon></span>
                    <span class="text">RECIPE MAKER</span>
                    </a>
                </a>
            </li>
  
            <li class="active">
              <a href="NavBar.css">
                  <a href="/about">
                  <span class="icon"><ion-icon name="newspaper-outline"></ion-icon></span>
                  <span class="text">ABOUT US</span>
                  </a>
              </a>
          </li>
            
        </ul>
    </div>
   
    <script>
  
        const list = document.querySelectorAll('.list');
        
        function activeLink(){
        
        list.forEach((item)=>
        
        item.classList.remove('active'));
        
        this.classList.add('active');
        
        }
        
        list.forEach((item)=>
        
        item.addEventListener('click',));
    </script>
  
    </div> 



    

  
    <!--installing icons-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


         <div class="footer">
            <p></p>
        </div>
        <footer>
            <div class="footer-content">
                <p>&copy; 2023 Food Nutrition System. All Rights Reserved to Mr.Harsh Patil and Mr.Samarth Patil.</p>
            </div>
        </footer>
    </div>
</body>
</html>